body{
    font-family: "Open Sans", sans-serif;
}
.line {
    width: 10%;
    height: 2px;
   background-color: #BF9B30;
}
.vertical-text{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    direction: rtl;
    transform: rotate(180deg);
}
.div1 , .div2{
    background-color: rgba(0 , 0 ,0 ,0.8);
    border-radius: 3px;
    
}
.font{
    font-size: 40px;
    display: block;
}
h1 , .title , h4{
    text-transform: uppercase;
}

  /* Styles for mobile devices */
  @media (max-width: 599px) {
    .div1{
        margin-bottom: 30px;
    }
    .clck{
        position: absolute;
        top:-40px;
        right: 10px;
    }
    .image{
        margin-bottom: 10px;
    }
    .font{
        display: none !important;
    }
  }
